@import '../../../mixins/common';
$mainColor: rgb(9, 202, 209);

.showcase {
  .robot li.name label {
    // color: $mainColor;
  }
  .results {
    // color: blue;
    // font-size: 2rem;
    // position: absolute;
    // top: 140px;
    background-color: #ffffff8e;
    width: 700px;
    border-radius: 10px;    
    // display: none;
  }
}
.hide {
  display: none;
}
.restaurant {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;

  .cartSummary {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 15px auto;
    // @include border1;
    div {
      // height: 35px;
      // line-height: 30px;
    }
  }
  button {
    border: 1px solid #999;
    background-color: #fff;
    padding: 10px;      
    margin: 5px;
    outline: none;
    
    &:hover {
      background-color: #dadada;
    }
  }
  button.selected {
    background-color: #c9c9c9;
  }
  button.others {
    background-color: #f2f8f5;
  }
  .orderNos {
    * {
      margin: 5px;
    }
  }
  .menus {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    
    .menuCategories {
      display: flex;
      justify-content: center;
      width: 100%;
    }  
  }

  ul.table {
    width: 95%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    .qty-in-cart, .add, .minus {
      display: inline-block;
      margin-left: 20px;
    }
    .add, .minus {
      cursor: pointer;    
      &:hover {
        color: rgb(24, 21, 21);
      }
    }
    .add {
      color: rgb(77, 77, 240);
    }
    .minus {
      color: rgb(202, 52, 77);  
    }
    li {
      padding-left: 20px;
      display: flex;
      background-color: #ebebeb;
      padding: 10px 0;
      margin-bottom: 4px;
      line-height: 1.5;
      user-select: none;
      @include alt;
      
      .item {
        width: 50%;
        padding: 0 15px;
      }
      .price {
        font-family: Courier;
      }
    }
  }
  
}
